[submodule "jira-time-tracker"]
	path = third_party/jira-time-tracker
	url = https://gps-gitlab.teltonika.lt/fleet/tools/jira-time-tracker.git
	branch = main
[submodule "easy-catcher"]
	path = third_party/easy-catcher
	url = https://gps-gitlab.teltonika.lt/fleet/tools/easy-catcher.git
	branch = master
[submodule "third_party/universal-tester-tool"]
	path = third_party/universal-tester-tool
	url = https://gps-gitlab.teltonika.lt/fleet/tools/universal-bts-tester.git
	branch = develop


